body {
  background-color: #181d31 !important;
}

h1,h2,h3,h4,h5 {
  font-weight: 200;
  color: white;
}

p {
  color: white;
}

hr{
  color: white;
}

a {
  color: rgb(99, 82, 193) !important;
}

.navbar-brand {
  font-weight: 200;
  color: #21e0c0 !important;
}

.btn-outline-success {
  border-color: #21e0c0!important;;
  color: #21e0c0 !important;;
}

.btn-outline-success:hover {
  background-color: #272a36;
  color: white !important;
}

.block {
  display:block;
}